<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Baggage Tracking</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active" aria-current="page">Baggage Tracking</li>
        </ol>
    </nav>
</div>
<div>
    <div class="card">
        <h6 class="card-header">Baggage 1</h6>
        <div class="card-body row">
            <div class="col-md-4">
                <ul class="activity tx-13">
                    <li class="activity-item active">
                        <div class="activity-icon">
                            <i data-feather="check"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Check In Station</strong>
                            <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 plus">+2H 3m</span>
                            </small>
                        </div>
                    </li>
                    <li class="activity-item active">
                        <div class="activity-icon">
                            <i data-feather="check"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Security Check</strong>
                            <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 minus">-2H 3m</span>
                            </small>
                        </div>
                    </li>
                    <li class="activity-item inactive">
                        <div class="activity-icon">
                            <i data-feather="clock"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Sorting Gate</strong>
                            <!-- <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 minus">-2H 3m</span>
                            </small> -->
                        </div>
                    </li>
                    <li class="activity-item inactive">
                        <div class="activity-icon">
                            <i data-feather="clock"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Loading Gate</strong>
                            <!-- <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 minus">-2H 3m</span>
                            </small> -->
                        </div>
                    </li>
                    <li class="activity-item inactive">
                        <div class="activity-icon">
                            <i data-feather="clock"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Unloading Gate</strong>
                            <!-- <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 minus">-2H 3m</span>
                            </small> -->
                        </div>
                    </li>
                    <li class="activity-item inactive">
                        <div class="activity-icon">
                            <i data-feather="clock"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Transfer Pool</strong>
                            <!-- <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 minus">-2H 3m</span>
                            </small> -->
                        </div>
                    </li>
                    <li class="activity-item inactive">
                        <div class="activity-icon">
                            <i data-feather="clock"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Transfer Security Check</strong>
                            <!-- <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 minus">-2H 3m</span>
                            </small> -->
                        </div>
                    </li>
                    <li class="activity-item inactive">
                        <div class="activity-icon">
                            <i data-feather="clock"></i>
                        </div>
                        <div class="activity-body">
                            <strong class="d-block">Arrival Pool</strong>
                            <!-- <small class="tx-color-03">
                                2 February 2020 19:00
                                <span class="mg-l-10 minus">-2H 3m</span>
                            </small> -->
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center align-items-center pd-20 pd-t-50 pd-md-t-20">
                <strong class="mb-2">Baggage 1 position in</strong>
                <h1 class="tx-success">Security Check</h1>
                <div class="tx-italic tx-gray-500">Estimate 17H 2m to <strong class="tx-primary">Arrival</strong></div>
            </div>
        </div>
    </div>
</div>