<aside class="aside aside-fixed">
    <div class="aside-header">
        <a href="" class="aside-logo"><img src="assets/img/logo.png" style="height: 36px"></a>
        <a href="" class="aside-menu-link">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a>
    </div>
    <div id="navbarMenu" class="aside-body">
        <ul class="nav nav-aside">
            <li class="nav-label">Dashboard</li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/super-admin/baggage-tracking">
                    <i data-feather="package"></i> <span>Baggage Tracking</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/super-admin/check-in">
                    <i data-feather="check"></i> <span>Check In</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/super-admin/config-rfid-scanner">
                    <i data-feather="settings"></i> <span>Config RFID Scanner</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/super-admin/rfid-scanner-simulator">
                    <i data-feather="box"></i> <span>RFID Scanner Simulator</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class="content ht-100v pd-0">
    <div class="content-header justify-content-end" app-header></div>

    <div class="content-body">
        <div class="container pd-x-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>